@media (max-width: 1200px) {
	.the-main-container {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 1200px) {
	.the-main-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.connection-err-msg {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 200px;

	color: rgba(0, 0, 0, 0.63);
}

@media (max-width: 500px) {
	.connection-err-msg {
		font-size: 15px;
		margin-left: 10px;
		margin-right: 10px;
		/*margin-bottom: 100px;*/
	}
}
