.featured2-main-container {
	width: 240px;
	background-color: #1c2331;
	margin-bottom: 20px;
	padding-top: 4px;
	margin-left: 8px;
	height: 400px;
	border-radius: 10px;
}

.featured2-condos-container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 370px !important;
	border-radius: 10px;
}

@media (max-width: 1200px) {
	.featured2-main-container {
		width: 97%;
		z-index: 0;
		margin-top: 37px;
	}

	.featured2-condos-container {
		margin-top: 0px;
		height: 350px;
		margin-bottom: 5px;
		margin-left: 20px;
		margin-right: 20px;
		border-radius: 15px;
		background-color: #1c2331;
		overflow-x: scroll;
		display: flex;
		flex-direction: row;
		height: 400px;
	}
	.card {
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
		margin-left: 10px !important;
		margin-right: 20px !important;
	}
	.animation-wrapper {
		margin-left: 20px;
	}
}

.featured2-condos-container:hover::-webkit-scrollbar {
	width: 11px;
	/*height: 15px;  for horizontal scrollbars */
}
@media (max-width: 600px) {
	.featured2-condos-container::-webkit-scrollbar {
		/*width: 7px;*/
		height: 8px; /*for horizontal scrollbars */
	}
}
@media (max-width: 1000px) {
	.featured2-condos-container::-webkit-scrollbar {
		/*width: 6px;*/
		height: 8px; /*for horizontal scrollbars */
	}
}
.featured2-condos-container:hover::-webkit-scrollbar-track {
	background: #1c2331;
}

.featured2-condos-container:hover::-webkit-scrollbar-thumb {
	background: #757575;
	border-radius: 5px;
	margin-top: 5px;
}

.featured2-header-text {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 4px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.8);
}

.featured-card-body {
	color: rgba(255, 255, 255, 0.78);
}

.featured-price {
	font-size: 14px !important;
}
